[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "prelude"]
	path = prelude
	url = git@github.com:svametcalf/prelude
[submodule "asdf"]
	path = asdf
	url = git@github.com:asdf-vm/asdf.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
